# Progress bars
tqdm

# Data validation
pydantic

# LLM usage
langchain-ollama
langchain_mistralai
langchain-community

# NLP
spacy

# Embeddings
weaviate-client

# SPARQL querying
rdflib
SPARQLWrapper